<!--导入thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>hello</title>
   <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</head>
<body>


    <table class="table table-striped">
        <caption>人员表1</caption>
        <thead>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>地址</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.name}"/>
            <td th:text="${user.age}"/>
            <td th:text="${user.address}"/>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">

        <!-- 迭代生成页码 -->
        <li class="page-item" data-th-each="i : ${#numbers.sequence(1, 5)}"
            data-th-classappend="${(3 + 1) eq i} ? 'active' : ''" >
            <a class="page-link" data-th-attr="pageIndex=${i} - 1" href="javascript:void(0);">
                <span data-th-text="${i}"></span>
            </a>
        </li>

        <!--<li><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li class="disabled"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>-->
    </ul>

</body>
</html>